@import url('https://fonts.googleapis.com/css2?family=Arbutus&family=Corinthia&display=swap');

:root {
	--p-background: #F4E9CD;
	--p-surface-low: #F0E2BC;
	--p-surface-medium: #EDDAAB;
	--p-surface-high: #E9D39B;
	--p-text: black;
	--p-primary: #495F41;
	--p-primary-dark: color-mix(in srgb, var(--p-primary) 90%, black);
	--p-primary-darker: color-mix(in srgb, var(--p-primary) 85%, black);
	--p-on-primary: white;
	--p-secondary: #9E6240;
	--p-on-secondary: white;
	--bp-md: 1000px;
	--s: 8px;
	--s-1: var(--s);
	--s-2: calc(var(--s) * 2);
	--s-3: calc(var(--s) * 3);
	--s-4: calc(var(--s) * 4);
	--t-l-size: 1.5rem;
	--t-m-size: 1.25rem;
	--t-s-size: 1rem;

	@media (width < 600px) {
		--t-l-size: 1.25rem;
		--t-m-size: 1.125rem;
		--t-s-size: 1rem;
	}

	--f-badass: "Arbutus", serif;
	--f-bust: "Corinthia", cursive;
}

.f-badass {
	font-family: var(--f-badass);
}

.f-bust {
	font-family: var(--f-bust);
}